.game-panel-container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(var(--color-bg), 0.4);
    border: none;
    padding: 0;
}

.title-container, .hint-container {
    display: none;
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    border: solid 3px rgb(var(--color-borders));
    border-radius: 1rem;
    padding: 1rem 3rem;

    p {
        margin: 0;
    }

    &.visible {
        display: block;
    }
}

.img-container {
    max-height: 80dvh;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.menu-container {
    flex-basis: 5rem;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}