.gameboard-container ul {
    display: grid;
    gap: 1rem;
    place-items: center;
}

.gameboard-container button {
    width: 12rem;
    height: 10rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}