.timer-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 12rem;
    height: 12rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}