#root {
  max-width: 1920px;
  width: 100dvw;
  height: 100dvh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
